@page
@model CoreWiki.Pages.Chitrakot_FallsModel
@{
    ViewData["Title"] = "Chitrakot_Falls";
}

<h1>Chitrakot Falls</h1>
<td><a href="https://en.wikipedia.org/wiki/Chitrakote_Falls">Chitrakot Falls Wiki</a></td>
<hr />

<img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Chitrakote_Falls.jpg" width="350" height="259" alt="Winter" />

<img src="https://upload.wikimedia.org/wikipedia/en/8/84/Chitrakot9.JPG" width="350" height="259" alt="Rainy" />

<img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Chitrakot_Falls1.JPG" width="350" height="259" alt="Spring" />

<p>
    <strong><em>Chitrakot Falls</em></strong> changes its color during different Seasons.
</p>

<p>
    The Chitrakote Falls (alternative spellings Chitrakote; Chitrakot; Hindi: चित्रकोट जलप्रपात) is a natural <a href="https://en.wikipedia.org/wiki/Waterfall">Waterfal</a>
    located to the west of <a href="https://en.wikipedia.org/wiki/Jagdalpur">Jagdalpur</a>
    in Bastar district in the Indian state of <a href="https://en.wikipedia.org/wiki/Chhattisgarh">Chhattisgarh</a> on the Indravati River.
    It is located at a distance of 38 kilometres (24 mi) to the west of Jagdalpur.
    The height of the falls is about 29 metres (95 ft).It is the widest fall in India.
    Because of its width and wide spread during the monsoon season, it is often called the
    <a href="https://en.wikipedia.org/wiki/Niagara_Falls">Niagra Falls</a> of India.
</p>

<table>
    <thead>
        <tr>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Topography</td>

        </tr>
        <tr>
            <td>2.</td>
            <td>Geology</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Features</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Conservation</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>References</td>
        </tr>

    </tbody>
</table>

<h2>Topography</h2>
<p>
    The Chitrakoot Falls is located on the Indravati River. The river originates in the kalahandi region of Odisha, in the Vindhya Range of hills,
    flows westward and then forms a fall at Chitrakoote, enters Telangana and finally flows into the Godavari River,after traversing 240 miles (390 km)
    in the state, at Bhadrakali.The free drop of the falls is a sheer height of about 30 metres (98 ft). Because of its horseshoe shape,
    it is compared with the Niagara Falls and is given in the sobriquet ‘the Small Niagara Falls’. During the rainy season, from July and October,
    rainbows are created with sun rays reflecting on mist from the waterfall.
    On the left bank of the Chitrakoot Falls, a small Hindu shrine dedicated to the god Shiva and several naturally created grottos named "Parvati caves"
    (named after Shiva's wife Parvati) are located. The weather in the area is generally pleasant except in the summer season when it is hot due to the
    absence of vegetation in the area.[10] The river flows sluggishly on the upstream side of the falls due to its meandering nature as it drains
    through the plains of Jagdalpur. This reach of the river valley has very little forest cover. Below the falls the river traverses the Bodhghat
    forested area and the river regime undergoes a drastic change in its flow conditions. Aeration process and the forest in the downstream area
    filter the silt in the river.Chitrakoot Falls is one of the two of the waterfalls located near the Kanger Valley National Park, the other is
    Teerathgarh Falls.
</p>

<h2>Geology</h2>

<img src="https://upload.wikimedia.org/wikipedia/en/f/fc/Chitrakot_Waterfall_Jagdalpur_India.jpg" width="350" height="259" alt="Winter" />
<p>
    The geological formation of the Indravati River valley as it rises and flows downstream consists of quartzitic sandstone
    and changes to the Archaean granite and gneisses near the Chitrakote Falls.
    It is one of the six waterfalls in India which are classified as "geomorphosites"
    (geoheritage sites with geomorphological interest); this classification is based on research studies of geological features of
    heritage value existing in different parts of the country. These have been studied and discussed in seminars by geologists, and
    studies have received the support of international institutions such as the United Nations Educational, Scientific and Cultural
    Organization (UNESCO), the International Union for Conservation of Nature (IUCN), the International Union of Geological Sciences
    (IUGS), and the International Association of Geomorphologists (IAG).
</p>

<h2>Features</h2>

<img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Chitrakot_panoramic.jpg" width="650" height="159" alt="Winter" />
<p>
    The Chitrakote Falls, which spreads over three braids during the low flow season, is a single sheet of flow over a free fall of about 30 metres
    (98 ft) forming a horseshoe shaped gorge. However, during the monsoon season, when the Indravati River is in floods, the falls cover the entire
    stretch of the horseshoe from the left to the right bank covering a width of about 300 metres (980 ft). Though it is about one third less in width
    compared to that of the Niagara Falls, its visual splendour is described as equally impressive. Water flow conditions over the falls vary
    with the seasons. During the flood season or the monsoon season, the flow is filled with silt. It is India's widest waterfall.

    Local boat facilities operating below and under the falls in a misty atmosphere provide views of the falls under an early morning sun in
    reflected sun light and in a blue hue. On the banks of the pond below the falls, many small Shiva Lingas (aniconic symbols of the god Shiva)
    are found in several niches, as are iron trishuls (the trident weapon of Shiva), mostly in a rusted state. On the left bank, there is a
    rock ledge and climbing down this cliff leads to a naturally formed niche which houses stone slabs carved with deities. In addition, there
    is a small hut made of straw where Shiva images and rusted images of his son, the god Ganesha are seen. Local people are involved in
    fishing in the area.

    The beauty of falls is seen throughout the year, particularly during sunset. As the fast flowing water of the river flows over the sharp
    near vertical rock exposure at the widest reach of the river, it generates misty clouds and then hits into a pond formed in a semicircular
    shape at the bottom of the falls. Adventure sports enthusiasts use boats in the stormy part of this pond. Pilgrims bathe in the calmer part
    of the lake.[18] In the low flow season, paddle boats are used in pools formed in the upstream part of the falls. In the pool below the falls,
    swimming is permitted and paddle boats are permitted. Local boatmen can paddle their boats under the spray below the falls.

    Apart from many large hydro electric power plants on the Indravati river, a small power plant of 7.5 MW capacity has been planned to
    utilize the head at the Chitrakote falls, though no irrigation is envisaged.

    Some terrorist activity by Maoists (anti-revisionist) was reported in the area. In 2008, when the then President of India, Pratibha Patil,
    visited Chitrakote Falls, there was a violent attack on a police vehicle which was blown up.
</p>


<h2>Conservation</h2>
<p>
    The Ministry of Tourism and Development of the Government of India had assessed the potential of this site in 2003 as of a natural "ambience" suitable for development of eco-tourism. Based on this assessment, plans were drawn up to develop facilities such as local restaurants, nature camping sites, a playground for children and platforms to view the falls, and also to improve the road condition, fix signs along the road from Jagdalpur to the falls, and beautify the site. Environmental conditions in the vicinity of the falls are in a preserved state but need attention as eco-tourism develops.[10] As of 2010, some infrastructure facilities had improved. There is a government run hotel at the top of the fall. A series of steps from the garden of the hotel leads to the falls. "Chitrakote Log huts" with basic and modern cabins have also been built at the location. Some of the cabins provide good views of the falls. The fall dried up during the summer from April to June because water of the Indravati river has been diverted through Jaura Nallah near odisha - Chhattisgarh border by odisha government, it also include indiscriminate construction of check dams near the fall. Social Activists and environmentalists are making their efforts to restore its charms. At Present the fall is worth seeing during the rain only. [3]
</p>

<h2>References</h2>
<ol>
    <li>"Chitrakote Waterfalls, Bastar". Chhattisgarh Tourism Board. Archived from the original on 26 June 2015. Retrieved 25 June 2015.</li>
    <li>"Indravati river's mighty Horseshoe falls of Chitrakoot have earned it the title of 'Little Niagara'". The Economic Times. 30 September 2012.</li>
    <li>Patro, Jagdish (14 December 2013). "Chitrakoot Waterfalls – The Niagara Falls of India". India Study channel.</li>
</ol>