@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Chhattisgarh Attraction</h1>
</div>

<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Local Page</th>
            <th>Wiki Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>"Chitrakot Falls India"</td>
            <td><a href="https://localhost:44334/Chitrakot_Falls">Chitrakot Falls          </a></td>
            <td><a href="https://en.wikipedia.org/wiki/Chitrakote_Falls">Chitrakot Falls Wiki</a></td>
        </tr>
        <tr>
            <td>2.</td>
            <td>"Raut Nacha"</td>
            <td><a href="https://localhost:44334/Raut_Nacha">Raut Nacha</a></td>
            <td><a href="https://en.wikipedia.org/wiki/Raut_Nacha">Raut Nacha Wiki</a></td>
        </tr>
        <tr>
            <td>3.</td>
            <td>"Kadaknath Chicken"</td>
            <td><a href="https://localhost:44334/Kadaknath">Kadaknath</a></td>
            <td><a href="https://en.wikipedia.org/wiki/Kadaknath">Kadaknath Wiki</a></td>
        </tr>
    </tbody>
</table>

