@page
@model CoreWiki.Pages.KadaknathModel
@{
    ViewData["Title"] = "Kadaknath";
}

<h1>Kadaknath</h1>
<td><a href="https://en.wikipedia.org/wiki/Kadaknath">Kadaknath Wiki</a></td>
<hr />

<table>
    <thead>

    </thead>
    <tbody>
        <tr>
            <td>

                <p>
                    <strong><em>Kadaknath</em></strong> or <strong><em>Kali Masi</em></strong>  is a
                    <a href="https://en.wikipedia.org/wiki/India">Indian</a>, breed of
                    <a href="https://en.wikipedia.org/wiki/Chicken">Chicken</a> originating from the Jhabua and Dhar districts of western
                    <a href="https://en.wikipedia.org/wiki/Madhya_Pradesh">Madhya Pradesh</a>, where it is known as "Kali masi"
                    ("fowl having black flesh").[1] There are three varieties within the breed, jet black, golden and pencilled.
                    [2] It has a lower fat content of 0.73 — 1.03% compared to 13 to 25% in most other chicken breeds. The meat
                    from this breed has a geographical indication (GI Tag) tag. It was approved by Indian government on 30 July 2018.[3]
                    The breed is maintained and improved by Krishi Vigyan Kendra Jhabua.[4]


                </p>
            </td>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/கடக்நாத்_சேவல்.jpg" width="250" height="359" alt="Spring" /></td>

        </tr>
    </tbody>
</table>


<table>
    <thead>
        <tr>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td><a href="https://en.wikipedia.org/wiki/Kadaknath#The_breed">The breed</a></td>

        </tr>
        <tr>
            <td>2.</td>
            <td><a href="https://en.wikipedia.org/wiki/Kadaknath#Colour">Color</a></td>
        </tr>
        <tr>
            <td>3.</td>
            <td><a href="https://en.wikipedia.org/wiki/Kadaknath#Threat_of_extinction">Threat of extinction</a></td>
        </tr>
        <tr>
            <td>4.</td>
            <td><a href="https://en.wikipedia.org/wiki/Kadaknath#References">References</a></td>
        </tr>
    </tbody>
</table>


<h2>The breed</h2>
<p>
    The Kadaknath is popular for its adaptability and good-tasting greyish black meat,[5] which is believed to infuse vigor.[6] Its color stems from melanin.[1] The breed is originated from the Indian state Madhya Pradesh.
</p>

<h2>Color</h2>
<p>
    The birds are completely black(Greyish): black(Gold) plumage with a greenish iridescence, greyish black legs and toenails, greyish black beak and tongue, black comb and wattles, greyish black meat and bones and even dark organs. Colour completely depends upon weather conditions it may vary from greyish to complete black. The rooster weigh 2–2.5 kg and the hens from 1.5–2 kg. The hens lay cream-colored eggs with a slight pink tint, although they are poor setters and rarely hatch their own brood. Eggs weigh an average of 45 g. This breed is also found in Indonesia where it is known as Ayam Cemani.[citation needed] The colour of the egg is white.
</p>

<h2>Threat of Extinction</h2>
<p>
    Due to the relatively high consumption of the breed, its numbers have sharply declined. To save the breed from extinction, the state government started a Kadaknath poultry breeding program involving 500 families from below the poverty line families, who were to receive financial support and assistance.[6]
</p>


<h2>References</h2>
<ol>
    <li> "Indigenous Stock". 26 May 2009.</li>
    <li> "Famous Kadaknath chicken meat from Jhabua of MP gets Geographical Indication tag". The Financial Express. 2018-08-02. Retrieved 2018-08-04.</li>
    <li> Jebaraj, Priscilla (2019-01-03). "Jhabua scientist suggests adding Kadaknath chicken to Indian cricket team's diet". The Hindu.</li>
</ol>


