@page
@model CoreWiki.Pages.Raut_NachaModel
@{
    ViewData["Title"] = "Raut_Nacha";
}

<h1>Raut Nacha</h1>
<td><a href="https://en.wikipedia.org/wiki/Raut_Nacha">Raut Nacha Wiki</a></td>
<hr />

<table>
    <thead>

    </thead>
    <tbody>
        <tr>
            <td>

                <p>
                    <strong><em>Raut Nacha</em></strong> is a dance performed by
                    <a href="https://en.wikipedia.org/wiki/Yadava">Yadavas</a>, a caste which considers themselves to be descendants of
                    <a href="https://en.wikipedia.org/wiki/Krishna">Krishna.</a>For them it is as a symbol of worship to Krishna.
                    They perform the dance at the time of 'dev udhni ekadashi'. It is believed that it is time of awakening of Gods after brief rest
                    according to Hindu pancang (calendar). [1]


                </p>
            </td>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Raut_Nacha.jpg" width="350" height="259" alt="Spring" /></td>

        </tr>
    </tbody>
</table>

<h2>References</h2>
<p>
   1. <a href="https://web.archive.org/web/20130224011917/http://www.mapsofindia.com/chhattisgarh/people-culture-festivals/raut-nacha.html">"Archived Copy".</a> Archived from the original on 24 February 2013. Retrieved 18 April 2012.
</p>


